<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bookinghotel">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BookingHotel">
        <activity
            android:name=".userInterface.HistoryDetail"
            android:exported="false" />
        <activity
            android:name=".userInterface.ConfirmBooking"
            android:exported="false" />
        <activity
            android:name=".userInterface.ListReview"
            android:exported="false" />
        <activity
            android:name=".userInterface.HotelDetail"
            android:exported="false" />
        <activity
            android:name=".userInterface.ListHotel"
            android:exported="false" />
        <activity
            android:name=".userInterface.EditAvatar"
            android:exported="false" />
        <activity
            android:name=".userInterface.UpdatePassword"
            android:exported="false" />
        <activity
            android:name=".loading.LoadingHotel"
            android:exported="false" />
        <activity
            android:name=".signIn_Up.SignIn"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".signIn_Up.FogotPassword"
            android:exported="false" />
        <activity
            android:name=".mainscreen.MainScreenUser"
            android:exported="false" />
        <activity
            android:name=".loading.LoadingExit"
            android:exported="false" />
        <activity
            android:name=".loading.LoadingApp"
            android:exported="false" />
        <activity
            android:name=".signIn_Up.SignUp"
            android:exported="false" />
    </application>

</manifest>